body{
    margin: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
}

nav a{
    margin-right: 20px;
    margin-top: 10px;
}

nav a.topimage {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 7px;/*o*/
}

#centerdisplay{
    margin-top: 200px;
}

#centerdisplay {
    text-align: center;
}

#logo {
    text-align: center;
}

#search_bar {
    margin-top: 10px;
    text-align: center;
}

#bar{
    padding: 10px 0px;
    outline: rgb(95, 94, 93);
    width: 500px;
    border-radius: 16px;
    border: 1.5px solid rgb(187, 181, 181);
}

#buttons_part{
    margin-top: 20px;
}

button{
    border-radius:6px;
    border: 1px solid #f8faf8;
    width: 120px;
    height: 37px;
    margin-right: 10px;
    background-color:#f8faf8;
    padding: 10px 5px;
    cursor: pointer;
}

#linksdisplay{
    margin-top: 10px;
}
footer{
    /* margin-top:  */
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color:rgb(180, 180, 180);
    padding-top: 0px;
}

footer a{
    margin-top: 15px;
}
/* 
.middle {
    float:
    margin-right: 20px;
} */

.left {
    float: left;
    margin-left: 15px;
}

.right {
    float:right;
    margin-right: 15px;
}

